@using VilaStella.Web.Common.Classes
@using VilaStella.WebAdminClient.Infrastructure

@model IEnumerable<VilaStella.WebAdminClient.Models.ReservationsOutputModel>

@{
    ViewBag.Title = "Вила Стела";
}

<div class="main-container">
    @{
        Html.RenderAction("FilterForm");
    }

    @if (Model.Count() == 0)
    {
        <h2>Не съществуват резервации</h2>
    }
    else
    {
            @Html.Partial("_ReservationsTable", Model)
    }

    <div class="container text-center">
        @{
            int previousPage = ViewBag.CurrentPage - 1;
            int nextPage = ViewBag.CurrentPage + 1;

            RouteValueDictionary previousDictionary = Request.QueryString.ToRouteValueDictionary();
            previousDictionary.Add("page", previousPage);

            RouteValueDictionary nextDictionary = Request.QueryString.ToRouteValueDictionary();
            nextDictionary.Add("page", nextPage);
        }
        <div>
            <a href="@Url.Action("Index", "Reservations", previousDictionary)" class="fa fa-chevron-left fa-2x"></a>
            <p style="display: inline-block; font-size: 35px;">@ViewBag.CurrentPage</p>
            <a href="@Url.Action("Index", "Reservations", nextDictionary)" class="fa fa-chevron-right fa-2x"></a>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/App/Admin/helpers.js"></script>
    <script src="~/Scripts/App/Admin/filter-functions.js"></script>
}