<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/VilaStella</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/VilaStella</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VilaStella.Data.DefaultDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=VilaStella;Integrated Security=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VilaStella.Data.DefaultDbContext, VilaStella.Data" MigrationConfiguration="VilaStella.Data.Migrations.Configuration, VilaStella.Data" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VilaStella" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=www.vilastella.com\MSSQL2012;Initial Catalog=vilaste_VilaStella;Integrated Security=False;User ID=vilaste_admin;Password=314159AAss" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VilaStella_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=www.vilastella.com\MSSQL2012;Initial Catalog=vilaste_VilaStella;Integrated Security=False;User Id=vilaste_admin;Password=314159AAss" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VilaStella.Data.DefaultDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=VilaStella;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="VilaStella.Data.DefaultDbContext" />
  </ItemGroup>
</Project>