@model string

@{
    ViewBag.Title = "Email not found";
}

<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="position: absolute; left: 95%;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Забравена Парола</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p>Не бе открит потребител с електронна поща <span class="text-warning">@Model</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/App/Shared/initialize-modal.js"></script>
}